
.menu-footer{
	
}.menu-footer > ul {
}.menu-footer > ul > li {
	list-style: none;
	display: inline-table;
	position: relative;
}.menu-footer > ul > li > a{
	display: table;	
	padding: 10px;
	color: #666;
	text-decoration: none;
	position: relative;
	
}.menu-footer > ul > li:hover > a{	
	background: #000;
	color: #ccc;
}.menu-footer > ul > li > a[data-status="active"]{	
	background: #606060;
	color: #ccc;
}.menu-footer > ul > li > a[data-status="current"]{	
	background: #333;
	color: #ccc;
}.menu-footer > ul > li > a[data-dropdown]{	
	padding-left: 10px;
	padding-right: 20px;
}.menu-footer > ul > li > a[data-dropdown]::after{	
	content:"•";
	padding-left: 5px;
	position: absolute;
	
}



/* posição dos submenus */
.menu-footer  ul > li {
	position: relative;	
}.menu-footer  ul > li ul {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	/*left: 100%;*/
}.menu-footer  ul > li > a + ul:hover {	
	visibility: visible;
}.menu-footer  ul > li > a:hover + ul {	
	visibility: visible;
}



/* submenus */
.menu-footer > ul > li  ul {
	min-width: 120px;
	border: 1px solid #888;
	border-radius: 0px 4px 4px 4px;
}.menu-footer > ul > li  ul > li {
	list-style: none;
}.menu-footer > ul > li  ul > li > a {		
	display: table;	
	width: 100%;
	padding: 10px;
	color: #333;
	text-decoration: none;
	position: relative;
	background: #fff;
	box-sizing:border-box;
}.menu-footer > ul > li  ul > li > a:hover {
	background: #ccc;		
}.menu-footer > ul > li  ul > li > a[data-status="active"] {		
	background: #ccc;
	color: #444;
}.menu-footer > ul > li  ul > li > a[data-status="current"] {		
	background: #333;
	color: #ccc;
}


/* posição dos submenus */
.menu-footer > ul > li >  ul {
	position:absolute;
	padding: 0px;
	bottom: 100%;
}.menu-footer > ul > li > ul li ul {
	left: 100%;
	
	position:absolute;
}


/* borda do menu */
.menu-footer > ul > li  ul > li:first-child > a {	
	border-radius: 0px 4px 0px 0px ;
}.menu-footer > ul > li  ul > li:last-child > a {	
	border-radius: 4px 4px 4px 0px;
}



