/**
 * Style by Wallace Rio
 * version 1.0
 */

/* Start: RESPONSIBLE FIXO ========================================== */
	.tower{
		height: 100%;
		display: table;
		width: 100%;
	}

	.cell{
		display: table-row;		
	}

	
	.row .floatLeft{
		float:left;
		display: inline-table !important;
		width: auto !important;	
	}
	.row .floatCenter{
		display: inline-block !important;
		width: auto !important;
	        vertical-align: middle;	      
			margin: auto !important;

	}

	.row .left{
		text-align: left ;
	}.row .center{
		text-align: center ;
	}.row .right{
		text-align: right ;
	}

	.top{
		vertical-align: top ;
	}.middle{
		vertical-align: middle ;
	}.bottom{
		vertical-align: bottom ;
	}

	.mobi-center{
		
	}
	.mobi-left{
		
	}
	.mobi-right{
		
	}

	.row .col12{
			width: 5%;
		}.row .col11{
			width: 10%;
		}.row .col10{
			width: 15%;
		}.row .col9{
			width: 20%;
		}.row .col8{
			width: 30%;
		}.row .col7{
			width: 40%;
		}.row .col6{
			width: 50%;
		}.row .col5{
			width: 60%;
		}.row .col4{
			width: 70%;
		}.row .col3{
			width: 80%;
		}.row .col2{
			width: 90%;
		}.row .col1{
			width: 100%;
		}


/* Responsible: smartPhone = portrait; */
@media screen and (max-width: 320px) {
	.row{
	display: table;
	width: 100%;
	
	}.row .column{
		

		
         display: inline-block;


       width: 100%;
       vertical-align: middle;
			margin: auto;			
	}.row .column:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;  
		margin: auto;
	}.row .column.float{			
			
	        display: inline-block;

	        vertical-align: middle;	       
			margin: auto;
	}


	.mobi-center{
		text-align: center !important;
	}
	.mobi-left{
		text-align: left !important;
	}
	.mobi-right{
		text-align: right !important;
	}


	.off_sfv{
		display: none;
	}

	.on_sfv{
		display: block;
	}
	.on_sfh{
		display: none;
	}
	.on_tbh{
		display: none;
	}
	.on_tbv{
		display: none;
	}
	.on_dtm{
		display: none;
	}
	.on_dtl{
		display: none;
	}

	
}




/* Responsible: smartPhone = landscape; */
@media screen and (min-width: 321px) and (max-width: 420px) {
	.row{
	display: table;
	width: 100%;
	
	vertical-align: middle;
			margin: auto;

	}.row .column{
	
	
         display: inline-block;


       width: 100%;
       vertical-align: middle;
			margin: auto;		
	}.row .column:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;  
	}.row .column.float{						
	        display: inline-block;
	        vertical-align: middle;	      
			margin: auto;
	}


	.mobi-center{
		text-align: center !important;
	}
	.mobi-left{
		text-align: left !important;
	}
	.mobi-right{
		text-align: right !important;
	}


	.off_sfh{
		display: none;
	}
	.on_sfv{
		display: none;
	}
	.on_sfh{
		display: block;
	}
	.on_tbh{
		display: none;
	}
	.on_tbv{
		display: none;
	}
	.on_dtm{
		display: none;
	}
	.on_dtl{
		display: none;
	}
}

/* Responsible: tablet = portrait; */
@media screen and (min-width: 421px) and (max-width: 768px) {
	.row{
		display: table;
		width: 100%;
		
		}.row .column{
		
		
         display: inline-block;


       width: 100%;
       vertical-align: middle;
			margin: auto;	
	}.row .column:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;  
	}.row .column.float{			
			
	        display: inline-block;

	        vertical-align: middle;	       
			margin: auto;
	}

	.mobi-center{
		text-align: center !important;
	}
	.mobi-left{
		text-align: left !important;
	}
	.mobi-right{
		text-align: right !important;
	}

	

	.off_tbv{
		display: none;
	}

	.on_sfv{
		display: none;
	}
	.on_sfh{
		display: none;
	}
	.on_tbh{
		display: none;
	}
	.on_tbv{
		display: block;
	}
	.on_dtm{
		display: none;
	}
	.on_dtl{
		display: none;
	}

	
}

/* Responsible: tablet = landscape; */
@media screen and (min-width: 769px) and (max-width: 959px) {
	.row{
		display: table;
		width: 100%;
		

		}.row .column{
		
	        display: table-cell;
	        vertical-align: middle;	        
			margin: auto;
		}.row .column.float{						
	        display: inline-block;
	        vertical-align: middle;	        
			margin: auto;
		}.row .column.colflex{						
	        display: inline-block;
	        vertical-align: middle;	      
			margin: auto;
		}



		.off_tbh{
			display: none;
		}

		.on_sfv{
			display: none;
		}
		.on_sfh{
			display: none;
		}
		.on_tbh{
			display: table-cell;
		}
		.on_tbv{
			display: none;
		}
		.on_dtm{
			display: none;
		}
		.on_dtl{
			display: none;
		}	

					
		.row .column.fixed{
			display: inline-table ;
		}
	}	



/* Responsible: tablet = landscape; */
@media screen and (min-width: 960px) and  (max-width: 1024px)  {
	.row{
		display: table;
		width: 100%;
		
		
		}.row .column{		
	        display: table-cell;
	        vertical-align: middle;	        
			margin: auto;
		}.row .column.float{						
	        display: inline-block;
	        vertical-align: middle;	     
			margin: auto;
		}.row .column.colflex{						
	        display: inline-block;
	        vertical-align: middle;
			margin: auto;
		}



		.off_dtm{
			display: none;
		}

		.on_sfv{
			display: none;
		}
		.on_sfh{
			display: none;
		}
		.on_tbh{
			display: none;
		}
		.on_tbv{
			display: none;
		}
		.on_dtm{
			display: block;
		}
		.on_dtl{
			display: none;
		}

		.row .column.fixed{
			display: inline-block;
		}
		
	}	



/* Responsible: desktop = landscape; */
@media screen and (min-width: 1025px) {
	.row{
		display: table;
		width: 100%;
		
		}.row .column{						
	        display: table-cell;
	        vertical-align: middle;	      
			margin: auto;
		}.row .column.float{						
	        display: inline-block;
	        vertical-align: middle;	  
			margin: auto;
		}

		
		

		.off_dtl{
			display: none;
		}

		.on_sfv{
			display: none;
		}
		.on_sfh{
			display: none;
		}
		.on_tbh{
			display: none;
		}
		.on_tbv{
			display: none;
		}
		.on_dtm{
			display: none;
		}
		.on_dtl{
			display: block;
		}

		
	}

/* end: RESPONSIBLE FIXO ========================================== */

